## **Muhammad Daffa Putra Mahardika**
## **2009106036**
## **Posttest 4**

In [93]:
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns
import numpy as np

df = pd.read_csv("bodyPerformance.csv")

df.head()

,age,gender,height_cm,weight_kg,body fat_%,diastolic,systolic,gripForce,sit and bend forward_cm,sit-ups counts,broad jump_cm,class
0,27.0,M,172.3,75.24,21.3,80.0,130.0,54.9,18.4,60.0,217.0,C
1,25.0,M,165.0,55.80,15.7,77.0,126.0,36.4,16.3,53.0,229.0,A
2,31.0,M,179.6,78.00,20.1,92.0,152.0,44.8,12.0,49.0,181.0,C
3,32.0,M,174.5,71.10,18.4,76.0,147.0,41.4,15.2,53.0,219.0,B
4,28.0,M,173.8,67.70,17.1,70.0,127.0,43.5,27.1,45.0,217.0,B

# **Bagi dataset menjadi training set dan testing set dengan proporsi 70:30**

In [94]:
from sklearn.model_selection import train_test_split

X = df.iloc[:,:-1]
y = df.iloc[:,-1] 

x_train, x_test, y_train, y_test = train_test_split(X, y, test_size=0.3)

print("Dimensi X_train : ", x_train.shape)
print("Dimensi X_train : ", x_test.shape)
print("Dimensi y_train : ", y_train.shape)
print("Dimensi y_test  : ", y_test.shape)

Dimensi X_train :  (2100, 11)
Dimensi X_train :  (900, 11)
Dimensi y_train :  (2100,)
Dimensi y_test  :  (900,)

# **Lakukan normalisasi data pada salah satu attribute menggunakan Min Max scaler (buatlah copy dataset terlebih dahulu)**

In [95]:
from sklearn.preprocessing import MinMaxScaler 

dfAngka= df.select_dtypes(include=['float64','int64'])

dfAngka.head()

,age,height_cm,weight_kg,body fat_%,diastolic,systolic,gripForce,sit and bend forward_cm,sit-ups counts,broad jump_cm
0,27.0,172.3,75.24,21.3,80.0,130.0,54.9,18.4,60.0,217.0
1,25.0,165.0,55.80,15.7,77.0,126.0,36.4,16.3,53.0,229.0
2,31.0,179.6,78.00,20.1,92.0,152.0,44.8,12.0,49.0,181.0
3,32.0,174.5,71.10,18.4,76.0,147.0,41.4,15.2,53.0,219.0
4,28.0,173.8,67.70,17.1,70.0,127.0,43.5,27.1,45.0,217.0

In [96]:
ss = MinMaxScaler()

Scaled_data = ss.fit_transform(dfAngka)

print("Nilai Data Sebelum scaling : ", dfAngka.head())
print("Nilai standar deviasi: \n", np.std(dfAngka))

print("\n\n Nilai Data setelah scaling : ", Scaled_data)
print("Nilai standar deviasi: ", np.std(dfAngka))

Nilai Data Sebelum scaling :      age  height_cm  weight_kg  body fat_%  diastolic  systolic  gripForce  \
0  27.0      172.3      75.24        21.3       80.0     130.0       54.9
1  25.0      165.0      55.80        15.7       77.0     126.0       36.4
2  31.0      179.6      78.00        20.1       92.0     152.0       44.8
3  32.0      174.5      71.10        18.4       76.0     147.0       41.4
4  28.0      173.8      67.70        17.1       70.0     127.0       43.5

   sit and bend forward_cm  sit-ups counts  broad jump_cm
0                     18.4            60.0          217.0
1                     16.3            53.0          229.0
2                     12.0            49.0          181.0
3                     15.2            53.0          219.0
4                     27.1            45.0          217.0
Nilai standar deviasi:
 age                        13.417052
height_cm                   8.346870
weight_kg                  12.093821
body fat_%                  7.274697
diastolic                  10.625357
systolic                   14.590030
gripForce                  10.639757
sit and bend forward_cm     8.917439
sit-ups counts             14.190548
broad jump_cm              39.799749
dtype: float64


 Nilai Data setelah scaling :  [[0.13953488 0.62741313 0.43430493 ... 0.18235294 0.76923077 0.74827586]
 [0.09302326 0.48648649 0.21636771 ... 0.17352941 0.67948718 0.78965517]
 [0.23255814 0.76833977 0.46524664 ... 0.15546218 0.62820513 0.62413793]
 ...
 [0.79069767 0.35714286 0.2735426  ... 0.13991597 0.02564103 0.55517241]
 [0.11627907 0.47490347 0.2029148  ... 0.18655462 0.43589744 0.60344828]
 [0.09302326 0.46138996 0.14910314 ... 0.21386555 0.33333333 0.59655172]]
Nilai standar deviasi:  age                        13.417052
height_cm                   8.346870
weight_kg                  12.093821
body fat_%                  7.274697
diastolic                  10.625357
systolic                   14.590030
gripForce                  10.639757
sit and bend forward_cm     8.917439
sit-ups counts             14.190548
broad jump_cm              39.799749
dtype: float64

# **Lakukan standarisasi pada dataset (buatlah copy dataset terlebih dahulu)**

In [97]:
from sklearn.preprocessing import StandardScaler #3

dfAngka2 = df.select_dtypes(include=['float64','int64'])

ss = StandardScaler()
Scaled_data = ss.fit_transform(dfAngka2)

In [98]:
print("Nilai Data Sebelum scaling : ")
print(dfAngka2)
print("Nilai standar deviasi: \n", np.std(dfAngka2))

print("\n\n Nilai Data setelah scaling : ")
print(Scaled_data)
print("Nilai standar deviasi: ", np.std(Scaled_data))

Nilai Data Sebelum scaling :
       age  height_cm  weight_kg  body fat_%  diastolic  systolic  gripForce  \
0     27.0      172.3      75.24        21.3       80.0     130.0       54.9
1     25.0      165.0      55.80        15.7       77.0     126.0       36.4
2     31.0      179.6      78.00        20.1       92.0     152.0       44.8
3     32.0      174.5      71.10        18.4       76.0     147.0       41.4
4     28.0      173.8      67.70        17.1       70.0     127.0       43.5
...    ...        ...        ...         ...        ...       ...        ...
2995  39.0      170.0      51.50        16.8       55.0     100.0       30.6
2996  42.0      163.2      54.30        25.5       73.0     102.0       31.9
2997  55.0      158.3      60.90        35.3       77.0     146.0       27.9
2998  26.0      164.4      54.60        29.9       72.0     131.0       27.2
2999  25.0      163.7      49.80        26.0       80.0     142.0       19.9

      sit and bend forward_cm  sit-ups counts  broad jump_cm
0                        18.4            60.0          217.0
1                        16.3            53.0          229.0
2                        12.0            49.0          181.0
3                        15.2            53.0          219.0
4                        27.1            45.0          217.0
...                       ...             ...            ...
2995                     23.5            29.0          140.0
2996                     24.2            35.0          164.0
2997                      8.3             2.0          161.0
2998                     19.4            34.0          175.0
2999                     25.9            26.0          173.0

[3000 rows x 10 columns]
Nilai standar deviasi:
 age                        13.417052
height_cm                   8.346870
weight_kg                  12.093821
body fat_%                  7.274697
diastolic                  10.625357
systolic                   14.590030
gripForce                  10.639757
sit and bend forward_cm     8.917439
sit-ups counts             14.190548
broad jump_cm              39.799749
dtype: float64


 Nilai Data setelah scaling :
[[-0.70109787  0.44595957  0.62622474 ...  0.34444606  1.43900949
   0.69105964]
 [-0.85016191 -0.42861974 -0.98120766 ...  0.10895243  0.9457234
   0.99256909]
 [-0.40296979  1.32053888  0.85444045 ... -0.3732488   0.66384563
  -0.21346869]
 ...
 [ 1.38579869 -1.23131581 -0.55950472 ... -0.78816613 -2.64821814
  -0.71598442]
 [-0.77562989 -0.50050297 -1.08043189 ...  0.45658588 -0.393196
  -0.36422341]
 [-0.85016191 -0.58436674 -1.47732878 ...  1.18549471 -0.95695153
  -0.41447498]]
Nilai standar deviasi:  1.0

# **Lakukan Data cleaning pada data dengan nilai null (jika tidak ada nilai null pada dataset, maka buatlah menjadi ada). Ganti nilai null sesuai ketentuan. (bilangan bulat : median/modus, bilangan desimal : mean, tulisan : modus)**

In [99]:
from sklearn.impute import SimpleImputer

df.isna().sum()

age                        0
gender                     0
height_cm                  0
weight_kg                  0
body fat_%                 0
diastolic                  0
systolic                   0
gripForce                  0
sit and bend forward_cm    0
sit-ups counts             0
broad jump_cm              0
class                      0
dtype: int64

In [100]:
df.dtypes

age                        float64
gender                      object
height_cm                  float64
weight_kg                  float64
body fat_%                 float64
diastolic                  float64
systolic                   float64
gripForce                  float64
sit and bend forward_cm    float64
sit-ups counts             float64
broad jump_cm              float64
class                       object
dtype: object

In [101]:
# karna saya tidak ada nilai null maka disini saya membuat nilai null terlebih dahulu
imputer = SimpleImputer(strategy='most_frequent' )

df.iloc[1,1] = np.nan

df.isna().sum()

age                        0
gender                     1
height_cm                  0
weight_kg                  0
body fat_%                 0
diastolic                  0
systolic                   0
gripForce                  0
sit and bend forward_cm    0
sit-ups counts             0
broad jump_cm              0
class                      0
dtype: int64

In [102]:
df["gender"] = imputer.fit_transform(df[["gender"]])

df.isna().sum()

age                        0
gender                     0
height_cm                  0
weight_kg                  0
body fat_%                 0
diastolic                  0
systolic                   0
gripForce                  0
sit and bend forward_cm    0
sit-ups counts             0
broad jump_cm              0
class                      0
dtype: int64

In [103]:
imputer2 = SimpleImputer(strategy='mean' )
df["age"] = imputer.fit_transform(df[["age"]])

df.isna().sum()

age                        0
gender                     0
height_cm                  0
weight_kg                  0
body fat_%                 0
diastolic                  0
systolic                   0
gripForce                  0
sit and bend forward_cm    0
sit-ups counts             0
broad jump_cm              0
class                      0
dtype: int64

In [104]:
imputer3 = SimpleImputer(strategy='median' )

df["weight_kg"] = df["weight_kg"].astype("int64")
print(df["weight_kg"].dtypes)

int64

In [105]:
df.iloc[3,3] = np.nan

df.isna().sum()

age                        0
gender                     0
height_cm                  0
weight_kg                  1
body fat_%                 0
diastolic                  0
systolic                   0
gripForce                  0
sit and bend forward_cm    0
sit-ups counts             0
broad jump_cm              0
class                      0
dtype: int64

In [106]:
df["weight_kg"] = imputer.fit_transform(df[["weight_kg"]])

df.isna().sum()

age                        0
gender                     0
height_cm                  0
weight_kg                  0
body fat_%                 0
diastolic                  0
systolic                   0
gripForce                  0
sit and bend forward_cm    0
sit-ups counts             0
broad jump_cm              0
class                      0
dtype: int64

# **Lakukan Data cleaning pada data dengan nilai duplikat. (Jika tidak ada nilai duplikat pada dataset, maka buatlah menjadi ada)**

In [107]:
print("Nilai Duplikat: ") 
df[df.duplicated()]

Nilai Duplikat:

Empty DataFrame
Columns: [age, gender, height_cm, weight_kg, body fat_%, diastolic, systolic, gripForce, sit and bend forward_cm, sit-ups counts, broad jump_cm, class]
Index: []

In [108]:
df = df.append(df.iloc[0:50])

print("Nilai Duplikat: ")
df[df.duplicated()]

Nilai Duplikat:

,age,gender,height_cm,weight_kg,body fat_%,diastolic,systolic,gripForce,sit and bend forward_cm,sit-ups counts,broad jump_cm,class
0,27.0,M,172.3,75.0,21.3,80.0,130.0,54.9,18.4,60.0,217.0,C
1,25.0,M,165.0,55.0,15.7,77.0,126.0,36.4,16.3,53.0,229.0,A
2,31.0,M,179.6,78.0,20.1,92.0,152.0,44.8,12.0,49.0,181.0,C
3,32.0,M,174.5,71.0,18.4,76.0,147.0,41.4,15.2,53.0,219.0,B
4,28.0,M,173.8,67.0,17.1,70.0,127.0,43.5,27.1,45.0,217.0,B
5,36.0,F,165.4,55.0,22.0,64.0,119.0,23.8,21.0,27.0,153.0,B
6,42.0,F,164.5,63.0,32.2,72.0,135.0,22.7,0.8,18.0,146.0,D
7,33.0,M,174.9,77.0,36.9,84.0,137.0,45.9,12.3,42.0,234.0,B
8,54.0,M,166.8,67.0,27.6,85.0,165.0,40.4,18.6,34.0,148.0,C
9,28.0,M,185.0,84.0,14.4,81.0,156.0,57.9,12.1,55.0,213.0,B
10,42.0,M,169.2,65.0,19.3,63.0,110.0,43.5,16.0,68.0,211.0,A
11,57.0,F,153.0,49.0,20.9,69.0,106.0,21.5,30.0,0.0,90.0,D
12,27.0,F,156.0,53.0,35.5,69.0,116.0,23.1,13.1,28.0,144.0,C
13,22.0,M,175.7,67.0,11.3,71.0,103.0,52.5,19.2,55.0,232.0,C
14,24.0,M,181.0,84.0,20.4,80.0,120.0,48.9,7.2,54.0,213.0,C
15,45.0,F,159.0,63.0,30.9,93.0,144.0,34.1,19.0,30.0,155.0,A
16,25.0,F,164.2,66.0,30.2,82.0,120.0,25.7,22.9,39.0,178.0,C
17,26.0,M,179.9,71.0,9.7,64.0,135.0,59.6,17.8,61.0,239.0,A
18,26.0,M,169.2,70.0,21.0,63.0,129.0,41.3,15.1,53.0,225.0,B
19,21.0,F,162.7,47.0,18.9,78.0,133.0,25.4,20.5,36.0,137.0,B
20,25.0,F,161.7,63.0,31.3,89.0,128.0,25.0,10.7,39.0,160.0,C
21,59.0,F,155.9,62.0,30.2,76.0,143.0,36.8,29.1,25.0,122.0,A
22,38.0,M,166.7,67.0,23.2,70.0,111.0,26.1,19.7,62.0,215.0,D
23,44.0,M,170.0,63.0,12.9,65.0,115.0,44.5,11.6,49.0,196.0,B
24,23.0,F,164.1,59.0,29.6,91.0,126.0,24.6,27.5,32.0,169.0,C
25,62.0,M,169.0,70.0,30.5,96.0,146.0,39.3,4.0,43.0,131.0,C
26,47.0,F,158.3,53.0,29.2,70.0,117.0,25.9,8.1,32.0,151.0,D
27,48.0,M,175.8,84.0,31.4,83.0,125.0,33.8,3.7,24.0,211.0,D
28,36.0,M,176.0,81.0,24.5,81.0,139.0,46.2,8.1,54.0,232.0,C
29,50.0,F,159.8,57.0,24.4,63.0,103.0,30.8,24.4,30.0,143.0,A
30,25.0,M,170.9,70.0,15.7,80.0,127.0,36.4,26.4,38.0,246.0,C
31,26.0,M,176.7,77.0,16.3,66.0,129.0,50.0,9.1,51.0,223.0,C
32,28.0,F,159.5,51.0,24.5,82.0,123.0,37.2,23.0,37.0,145.0,A
33,30.0,M,172.1,79.0,26.7,91.0,148.0,34.7,-2.0,40.0,192.0,D
34,49.0,F,151.5,52.0,27.6,77.0,144.0,23.8,21.3,39.0,154.0,B
35,40.0,M,177.6,88.0,20.3,93.0,138.0,51.5,12.1,54.0,224.0,C
36,21.0,M,172.5,66.0,12.5,82.0,130.0,51.2,6.3,46.0,178.0,D
37,31.0,M,177.5,79.0,23.0,90.0,148.0,51.2,18.4,62.0,208.0,A
38,32.0,M,178.0,84.0,21.2,68.0,130.0,52.3,16.2,62.0,232.0,A
39,27.0,M,177.6,79.0,22.8,59.0,108.0,48.0,1.8,59.0,219.0,D
40,42.0,M,168.0,61.0,14.9,94.0,151.0,28.9,1.0,32.0,230.0,D
41,52.0,M,173.6,84.0,30.3,93.0,144.0,42.0,9.0,43.0,185.0,D
42,39.0,M,173.3,69.0,23.8,76.0,137.0,40.0,18.2,38.0,227.0,C
43,33.0,F,159.6,60.0,32.1,62.0,106.0,21.9,22.2,24.0,129.0,C
44,25.0,F,161.8,57.0,21.7,74.0,115.0,29.3,26.6,50.0,190.0,A
45,31.0,M,169.9,73.0,19.2,97.0,145.0,45.0,14.5,37.0,249.0,D
46,34.0,M,183.6,76.0,16.3,80.0,120.0,46.3,14.2,55.0,220.0,B
47,26.0,M,172.1,66.0,24.9,62.0,102.0,19.9,-9.9,44.0,159.0,D
48,28.0,M,180.1,82.0,15.0,83.0,147.0,52.6,18.8,55.0,247.0,A
49,58.0,M,164.2,64.0,19.8,93.0,150.0,36.8,18.3,38.0,205.0,B

In [109]:
df.drop_duplicates(inplace=True)

print("Nilai Duplikat: ")
df[df.duplicated()]

Nilai Duplikat:

Empty DataFrame
Columns: [age, gender, height_cm, weight_kg, body fat_%, diastolic, systolic, gripForce, sit and bend forward_cm, sit-ups counts, broad jump_cm, class]
Index: []

# **Ganti tipe data salah satu attribute angka**

In [110]:
df.dtypes

age                        float64
gender                      object
height_cm                  float64
weight_kg                  float64
body fat_%                 float64
diastolic                  float64
systolic                   float64
gripForce                  float64
sit and bend forward_cm    float64
sit-ups counts             float64
broad jump_cm              float64
class                       object
dtype: object

In [111]:
df["age"].dtypes
print(df["age"].dtypes)

df["age"] = df["age"].astype("int64")
print(df["age"].dtypes)

float64
int64

# **Lakukan one hot encoding pada dataset yang kalian miliki.**

In [112]:
from sklearn.preprocessing import OneHotEncoder # one hot encoding

df.head()

,age,gender,height_cm,weight_kg,body fat_%,diastolic,systolic,gripForce,sit and bend forward_cm,sit-ups counts,broad jump_cm,class
0,27,M,172.3,75.0,21.3,80.0,130.0,54.9,18.4,60.0,217.0,C
1,25,M,165.0,55.0,15.7,77.0,126.0,36.4,16.3,53.0,229.0,A
2,31,M,179.6,78.0,20.1,92.0,152.0,44.8,12.0,49.0,181.0,C
3,32,M,174.5,71.0,18.4,76.0,147.0,41.4,15.2,53.0,219.0,B
4,28,M,173.8,67.0,17.1,70.0,127.0,43.5,27.1,45.0,217.0,B

In [113]:
encoder = OneHotEncoder(sparse=False)
genderEnc = encoder.fit_transform(df[["gender"]])

gender = pd.DataFrame(genderEnc)
df = df.join(gender)
df.head()

,age,gender,height_cm,weight_kg,body fat_%,diastolic,systolic,gripForce,sit and bend forward_cm,sit-ups counts,broad jump_cm,class,0,1
0,27,M,172.3,75.0,21.3,80.0,130.0,54.9,18.4,60.0,217.0,C,0.0,1.0
1,25,M,165.0,55.0,15.7,77.0,126.0,36.4,16.3,53.0,229.0,A,0.0,1.0
2,31,M,179.6,78.0,20.1,92.0,152.0,44.8,12.0,49.0,181.0,C,0.0,1.0
3,32,M,174.5,71.0,18.4,76.0,147.0,41.4,15.2,53.0,219.0,B,0.0,1.0
4,28,M,173.8,67.0,17.1,70.0,127.0,43.5,27.1,45.0,217.0,B,0.0,1.0

In [114]:
df = df.rename(columns={
    0 : 'F',
    1 : 'M'
})

df.head()

,age,gender,height_cm,weight_kg,body fat_%,diastolic,systolic,gripForce,sit and bend forward_cm,sit-ups counts,broad jump_cm,class,F,M
0,27,M,172.3,75.0,21.3,80.0,130.0,54.9,18.4,60.0,217.0,C,0.0,1.0
1,25,M,165.0,55.0,15.7,77.0,126.0,36.4,16.3,53.0,229.0,A,0.0,1.0
2,31,M,179.6,78.0,20.1,92.0,152.0,44.8,12.0,49.0,181.0,C,0.0,1.0
3,32,M,174.5,71.0,18.4,76.0,147.0,41.4,15.2,53.0,219.0,B,0.0,1.0
4,28,M,173.8,67.0,17.1,70.0,127.0,43.5,27.1,45.0,217.0,B,0.0,1.0